/* And the original view "final itinerary" button */
.block-views-blockfinal-itinerary-final-itinerary-btn {
  text-align: center;
}

/* View PDF link */
.print__wrapper.print__wrapper--pdf {
  display: flex;
  flex-direction: row;
  gap: 5px;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 1rem;

  &::before {
    content: "Download the PDF: ";
    display: block;
    font-weight: 600;
  }
}

.print__wrapper.print__wrapper--pdf a {
  padding: 5px 15px;
  border-radius: 10px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  line-height: 24px;
}


.view-final-itinerary {

  /* Manipulate H2 so that it looks like a return to original booking button */
  /* Only apply on Final Itinerary view mode pages */
  .views-row > .node--view-mode-final-itinerary > h2 {
    display: flex;
    flex-direction: row;
    gap: 5px;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    line-height: 24px;
    margin-top: 2rem;
    margin-bottom: 1rem;

    &::before {
      content: "View the original booking: ";
      display: block;
      font-weight: 600;
    }

    a {
      background: $primary;
      color: #fff;
      padding: 5px 15px;
      border-radius: 10px;
      text-decoration: none;
      display: block;

      &:hover {
        background: $orange;
      }
    }
  }

  .node__content div.section {
    padding-bottom: 2rem;
    border-bottom: 1px solid $gray-400;
    margin-bottom: 2rem;

    &:last-of-type {
      padding-bottom: 0;
      border-bottom: none;
      margin-bottom: 4rem;
    }
  }

  h3 {
    font-weight: 600;
    letter-spacing: -1px;
  }

  .field--label-inline .field__label {
    width: 150px;
  }

  /* Adjust the positioning of a few fields */
  .field--name-field-itinerary,
  .field--name-field-address {
    margin-top: 1rem;
  }

  /* Fudge the automatic title link for the entity reference so that it looks like normal text */ 
  .field--type-entity-reference h2 {
    font-size: inherit;
    line-height: 24px;
    margin: 0;
    a {
      color: inherit;
      text-decoration: inherit;
    }
  }

  /* And then position the automatic title link so that it looks like a regular field */
  .section.client,
  .section.venue {
    .field--type-entity-reference {
      > .field__label {
        width: 150px;
        float: left;
      }
    }
  }

  /* Hide the map link, home address and notes for the client as these aren't required but
   * displayed by default, and we need these fields for the venue's directions
   */
  .section.client {
    .field--name-field-google-map,
    .field--name-field-address,
    .field--name-body {
      display: none;
    }
  }

  .section.venue {
  .field--name-body {
    display: none;
  }
  }

  /* Tidy up spacing of last paragraph of text fields where they preceed a dividing line */
  .field--name-field-itinerary,
  .field--name-field-access-instructions {
    .field__item p:last-of-type {
      margin-bottom: 0;
    }
  }


  /* Playlists */
  .section.playlists {
    .field--name-field-playlists {
      display: flex;
      flex-direction: column;
      gap: 0.75rem;

      .field--name-field-playlist-description {
        font-weight: $font-weight-bold;
      }
    }
  }

  /* Requests */
  .section.requests {
    .field--name-field-song-requests {
      display: flex;
      flex-direction: column;
      gap: 0.75rem;

      .field--name-field-request-type {
        font-weight: $font-weight-bold;
      }
    }
  }

}
  

