#front-page-buttons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 15px;

  .fp-button {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    width: 125px;
    height: 125px;
    background-color: $accent2;
    border-radius: $border-radius;
    color: $white;
    text-align: center;

    &:hover {
      background-color: $black;
    }

    a {
      color: $white;
      text-decoration: inherit;
      font-weight: $font-weight-bold;
    }

    /* */
    i {
      display: block;
      font-size: 48px;
      margin-bottom: 15px;
    }
  }
}


body.user-anonymous.node-94 main .region-content {
  text-align: center;

  #block-bandwise10-page-title h1 {
    font-size: clamp(3.5rem, 5vw + 0.5rem, 6rem);
  }
}