header nav {
  ul.navbar-nav li.nav-item {
    a {
      color: $white;
      padding: 0 !important;
      margin-left: 25px;
      border-bottom: 1px solid rgba(0,0,0,0);

      &:hover,
      &.active,
      &.is-active {
        color: $white;
        border-bottom: 1px solid $white;
      }
    }
  }
  .lower-container {
    ul.navbar-nav {
      a {
        font-weight: $font-weight-bold;
      }
    }
  }
  svg {
    margin-right: 3px;
  }
}