body {
  background-color: $gray-200;

  main {
    margin-bottom: 90px;
  }

  .region-content {
    background-color: $white;
    padding: 24px;
    border-radius: $border-radius;
    border: 1px solid rgba(0, 0, 0, 0.08);
    box-shadow: rgba(20, 45, 82, 0.02) 0px 1px 2px 0px,
                rgba(20, 45, 82, 0.03) 0px 3px 4px 0px,
                rgba(20, 45, 82, 0.04) 0px 5px 8px 0px;
  }
}

strong {
  font-weight: $font-weight-bold;
}

ul.nav-tabs {
  justify-content: center;
}

h1 {
  text-align: center;
  font-size: clamp(2.5rem, 4vw + 0.5rem, 3.5rem);
  font-weight: 600;
  letter-spacing: -1px;
}

.block-views h2 {
  text-align: center;
  font-size: clamp(1.75rem, 4vw + 0.5rem, 2.5rem);
  font-weight: 600;
  letter-spacing: -1px;
}


/* Musician nodes */
.node-type-musician main .region-content {
  text-align: center;

  .field--name-field-skill .field__items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    .field__item {
      margin: 0 15px;
    }
  }
}


/* Contact nodes */
.node-type-contact main .region-content {
  .field--name-field-contact-type {
    margin-bottom: 1rem;
  }
  .field--name-body {
    margin-top: 1rem;
  }
}


/*
 * Booking status colour coding
 * Note that this is currently done by term ID rather than a pretty text label
 * This therefore needs to be improved
 */

span.booking_status {
  display: inline-block;
  background-color: $gray-200;
  color: $black;
  padding: 4px 10px;
  border-radius: 20px;
  text-transform: uppercase;
}

/* Initial enquiry  */  span.booking_status.flag_17 {background-color: $cyan;     color: $white;}
/* Quoted           */  span.booking_status.flag_89 {background-color: $yellow;   color: $black;}
/* Not proceeding   */  span.booking_status.flag_90 {background-color: $red;      color: $white;}
/* Confirmed        */  span.booking_status.flag_19 {background-color: $green;    color: $white;}
/* Keen enquiry     */  span.booking_status.flag_18 {background-color: $orange;   color: $white;}
/* Postponed        */  span.booking_status.flag_91 {background-color: $gray-600; color: $white;}
/* Cancelled        */  span.booking_status.flag_20 {background-color: $black;    color: $white;}


/*
 * Booking and line-up tables
 * Hide H2 for show name so only band name is displayed
 */

td .vocabulary-show h2 {
  display: none;
}

table {
  font-size: 12px;
  line-height: 1.1;
}

details.card {
  border: inherit;
}

.card-body {
  .field__label {
    width: 130px;
  }
}

 